@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

html, body {

	background-image: url('./img/bg.jpg');

	width: 100vw;
	height: 100vh;
	border: 0;
	margin: 0;
	padding: 0;

	font-family: 'Maven Pro', sans-serif;
}